# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [3]:
pokemon = pd.Series(raw_data)
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [4]:
df = pd.DataFrame ({"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            })

cols =['name','type','hp','evolution','pokedex']

df.columns = cols
df

         name        type     hp  evolution pokedex
0   Bulbasaur     Ivysaur  grass         45     yes
1  Charmander  Charmeleon   fire         39      no
2    Squirtle   Wartortle  water         44     yes
3    Caterpie     Metapod    bug         45      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [5]:
place=['lakes','parks','hills','mountains']
df['places'] = place

df

         name        type     hp  evolution pokedex     places
0   Bulbasaur     Ivysaur  grass         45     yes      lakes
1  Charmander  Charmeleon   fire         39      no      parks
2    Squirtle   Wartortle  water         44     yes      hills
3    Caterpie     Metapod    bug         45      no  mountains

### Step 6. Display the data type of each column

In [6]:
df.dtypes

name         object
type         object
hp           object
evolution     int64
pokedex      object
places       object
dtype: object